.listing {
  position: relative;
}

.user-modal {
  background: blue;
  position: absolute;
  bottom: 0;
  width: 10em;
  height: 10em;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.show-user-modal {
  opacity: 1;
  transition: all 1s ease-in-out;
}
